<div class="login-container">
  <h2>Iniciar sesión</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label>
      Nombre de usuario
      <input formControlName="username" />
    </label>
    <div
      *ngIf="
        loginForm.get('username')?.touched && loginForm.get('username')?.invalid
      "
    >
      Nombre de usuario requerido
    </div>

    <label>
      Contraseña
      <input type="password" formControlName="password" />
    </label>
    <div
      *ngIf="
        loginForm.get('password')?.touched && loginForm.get('password')?.invalid
      "
    >
      Contraseña requerida
    </div>

    <button type="submit" [disabled]="loginForm.invalid">INICIAR SESIÓN</button>
    <div *ngIf="errorMessage">{{ errorMessage }}</div>
  </form>
</div>
