<main
  class="w-full h-full flex justify-center items-center mt-[25%]"
  *ngIf="!list"
>
  <mat-spinner [diameter]="75"></mat-spinner>
</main>

<main class="w-full max-w-200 flex flex-col gap-4 my-8" *ngIf="list">
  <div class="flex justify-between">
    <h1
      class="text-3xl font-medium border-b-1 border-primary"
      *ngIf="!isEditing"
    >
      {{ title }}
    </h1>
    <input
      class="text-3xl font-medium border-b-1 border-b-secondary pb-1"
      *ngIf="isEditing"
      type="text"
      [(ngModel)]="newTitle"
    />
    <div *ngIf="user$ | async as loggedUser">
      <div *ngIf="list.user_id !== loggedUser.id" class="h-full flex items-end">
        <button
          class="hover"
          *ngIf="!isSaved"
          (click)="saveList()"
          aria-label="Guardar lista"
        >
          <i class="fa-regular fa-square-plus text-2xl"></i>
        </button>
        <button
          class="hover"
          *ngIf="isSaved"
          (click)="removeFromSave()"
          aria-label="Quitar lista de guardados"
        >
          <i class="fa-solid fa-square-check text-2xl"></i>
        </button>
      </div>
      <div *ngIf="list.user_id === loggedUser.id" class="h-full flex items-end">
        <div class="flex gap-2">
          <button
            class="hover"
            *ngIf="!isEditing"
            (click)="openEditForm()"
            aria-label="Editar nombre y descripción de lista"
          >
            <i class="fa-solid fa-pen"></i>
          </button>
          <button
            class="hover"
            *ngIf="!isEditing"
            (click)="openDelListDialog()"
            aria-label="Eliminar lista"
          >
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </div>
        <div class="flex gap-2" *ngIf="isEditing">
          <button class="primary-btn" (click)="saveChanges()">Guardar</button>
          <button class="secondary-btn" (click)="closeEditForm()">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="description">
    <h2 *ngIf="!isEditing" class="text-xl border-b-1 border-primary pb-1">
      {{ description }}
    </h2>
  </div>
  <textarea
    class="text-xl border-b-1 border-b-secondary pb-1"
    *ngIf="isEditing"
    [(ngModel)]="newDescription"
    rows="1"
  ></textarea>
  <div class="flex gap-4 opacity-80">
    <a routerLink="/profile/{{ list.author }}">{{ list.author }}</a>
    <p>
      Guardada {{ localSaved }} veces ·
      {{ list.movies ? list.movies.length : 0 }} películas
    </p>
  </div>

  <section class="w-full flex flex-col items-center gap-6 mt-2">
    <div
      *ngIf="list.movies !== null"
      class="w-full grid gap-3 grid-cols-[repeat(auto-fill,minmax(100px,1fr))]"
    >
      <ul *ngFor="let movie of list.movies">
        <li class="relative">
          <app-movie [movie]="movie"></app-movie>
          <div *ngIf="user$ | async as loggedUser">
            <div
              *ngIf="list.user_id === loggedUser.id && list.movies.length > 1"
            >
              <button
                class="w-5 h-5 flex justify-center items-center absolute bottom-1 left-[76px] bg-red-800 rounded hover:bg-red-700 hover:cursor-pointer"
                (click)="removeMovie(movie.id)"
                aria-label="Quitar película de lista"
              >
                <i class="fa-solid fa-minus"></i>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <app-pagination
      [results]="list"
      [goToPage]="goToPageList.bind(this)"
    ></app-pagination>
  </section>
</main>

<dialog
  #delListRef
  class="dialog"
  aria-label="Ventana modal para confirmar eliminación de cuenta"
>
  <button
    (click)="closeDelListDialog()"
    class="text-sm float-right hover"
    aria-label="Cerrar ventana modal"
  >
    <i class="fa-solid fa-xmark text-xl"></i>
  </button>
  <p class="my-5">
    ¿Estás seguro de que quieres eliminar esta lista? Esta acción es
    irreversible.
  </p>
  <div class="flex gap-4">
    <button class="secondary-btn" (click)="closeDelListDialog()">
      Cancelar
    </button>
    <button class="primary-btn" (click)="closeDelListDialog(); deleteList()">
      Aceptar
    </button>
  </div>
</dialog>

<dialog
  #delSuccessRef
  class="dialog"
  aria-label="Ventana modal para informar de eliminación de lista existosa"
>
  <button
    (click)="closeDelSuccessDialog()"
    class="text-sm float-right hover"
    aria-label="Cerrar ventana modal"
  >
    <i class="fa-solid fa-xmark text-xl"></i>
  </button>
  <div class="flex items-center gap-3">
    <i class="fa-solid fa-circle-check text-green-400 text-2xl"></i>
    <p class="my-5">Lista eliminada correctamente.</p>
  </div>
  <div class="flex gap-4">
    <button class="primary-btn" (click)="closeDelSuccessDialog()">
      Aceptar
    </button>
  </div>
</dialog>

<dialog
  #delErrorRef
  class="dialog"
  aria-label="Ventana modal para informar de error en la eliminación de lista"
>
  <button
    (click)="closeDelErrorDialog()"
    class="text-sm float-right hover"
    aria-label="Cerrar ventana modal"
  >
    <i class="fa-solid fa-xmark text-xl"></i>
  </button>
  <div class="flex items-center gap-3">
    <i class="fa-solid fa-circle-xmark text-red-400 text-2xl"></i>
    <p class="my-5">
      Hubo un problema al eliminar la lista. Inténtalo de nuevo más tarde.
    </p>
  </div>
  <div class="flex gap-4">
    <button class="primary-btn" (click)="closeDelErrorDialog()">Aceptar</button>
  </div>
</dialog>
