<header class="flex justify-center items-center bg-primary text-white min-h-14">
  <div class="flex justify-between w-full max-w-5xl p-2">
    <h1 class="w-1/3 font-bold text-3xl"><a routerLink="/">FILMO</a></h1>
    <nav class="flex justify-center items-center max-w-2/3 gap-4">
      <div>
        <input class="border-2 border-white" [(ngModel)]="searchTerm" />
        <button
          class="hover:cursor-pointer hover:text-secondary"
          (click)="onSearch()"
        >
          Buscar
        </button>
      </div>
      <a
        class="hover:text-secondary"
        *ngIf="!isLoggedIn"
        routerLink="/login"
        routerLinkActive="active"
        >Iniciar sesión</a
      >
      <div *ngIf="user$ | async as user">
        <a
          *ngIf="isLoggedIn"
          class="hover:cursor-pointer hover:text-secondary"
          routerLink="/user/profile/{{ user.username }}"
          >Perfil</a
        >
      </div>
      <button
        *ngIf="isLoggedIn"
        class="hover:cursor-pointer hover:text-secondary"
        (click)="logout()"
      >
        Cerrar sesión
      </button>
    </nav>
  </div>
</header>
