<main class="w-full h-full" *ngIf="!user">
  <div *ngIf="notFound">
    <app-not-found></app-not-found>
  </div>
  <div
    *ngIf="!notFound"
    class="w-full h-full flex justify-center items-center mt-[25%]"
  >
    <mat-spinner [diameter]="75"></mat-spinner>
  </div>
</main>

<ng-template #loadingSpinner
  ><div class="w-full h-full flex justify-center items-center mt-[10%]">
    <mat-spinner [diameter]="75"></mat-spinner></div
></ng-template>

<main
  class="w-full flex flex-col justify-center items-center gap-4"
  [style]="isLoggedIn ? null : 'margin-block: 32px'"
  *ngIf="user"
>
  <section class="w-full flex flex-col items-center gap-4">
    <div class="w-full flex justify-center gap-4">
      <div class="w-full flex flex-col items-center">
        <div class="w-full max-w-200 flex justify-end gap-2 mb-4">
          <div *ngIf="user$ | async as loggedUser">
            <div
              class="h-full flex items-end"
              *ngIf="user.id !== loggedUser.id"
            >
              <button
                *ngIf="!isFollowedByUser"
                (click)="follow()"
                class="primary-btn !w-25"
              >
                Seguir
              </button>
              <button
                *ngIf="isFollowedByUser"
                (click)="unfollow()"
                class="secondary-btn !w-25"
              >
                Siguiendo
              </button>
            </div>
          </div>
          <div *ngIf="user$ | async as loggedUser">
            <button
              *ngIf="user.id === loggedUser.id || loggedUser.is_admin"
              (click)="openDelAccountDialog()"
              class="h-9 bg-red-800 text-white font-medium py-1 px-2 rounded-sm hover:cursor-pointer hover:bg-red-700"
            >
              Eliminar&nbsp;cuenta
            </button>
          </div>
        </div>
        <div class="w-full flex flex-col items-center gap-2">
          <app-avatar [code]="user.avatar" size="2xl"></app-avatar>
          <div class="relative w-min">
            <h1 class="text-center text-4xl font-medium">
              {{ user.username }}
            </h1>
            <i
              *ngIf="user.is_admin"
              class="absolute top-0 -right-4 fa-solid fa-star text-yellow-500"
              aria-label="Etiqueta de administrador"
            ></i>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center gap-2 font-medium">
      <button
        [ngClass]="{ hover: followed.length >= 1 }"
        (click)="openFollowedDialog()"
        [disabled]="followed.length < 1"
        aria-label="Ver lista de usuarios seguidos"
      >
        {{ followed.length }} <span class="opacity-80">siguiendo</span>
      </button>
      <button
        [ngClass]="{ hover: followed.length >= 1 }"
        (click)="openFollowersDialog()"
        [disabled]="followers.length < 1"
        aria-label="Ver lista de seguidores"
      >
        {{ followers.length }} <span class="opacity-80">seguidores</span>
      </button>
    </div>
    <div
      class="w-full flex justify-center mb-4 text-center"
      *ngIf="user$ | async as loggedUser"
    >
      <div
        class="flex flex-wrap justify-center gap-3 mt-2"
        *ngIf="user.id !== loggedUser.id"
      >
        <p class="rounded p-2 bg-accent/20 border-2 border-accent">
          Coincidencia de gustos:
          <span class="font-medium">{{ matchPercentage }}%</span>
        </p>
        <div
          class="max-w-120 flex justify-center gap-2"
          *ngIf="commonFavGenres.length > 0"
        >
          <p class="rounded p-2 bg-accent/20 border-2 border-accent">
            Géneros favoritos en común:
            <span class="font-medium">{{ commonFavGenres.join(",") }}</span>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="w-full max-w-200 flex flex-col items-center gap-8">
    <nav
      role="tablist"
      class="w-full max-w-100 flex justify-between gap-8 text-lg font-medium"
    >
      <h2
        *ngIf="tab === 'w'"
        role="tab"
        class="border-b-3 border-accent px-3 pb-1"
      >
        VISTAS
      </h2>
      <h2
        *ngIf="tab !== 'w'"
        role="tab"
        class="px-3 pb-1 hover:opacity-80 hover:cursor-pointer"
        (click)="changeTab('w')"
      >
        VISTAS
      </h2>
      <h2
        *ngIf="tab === 'f'"
        role="tab"
        class="border-b-3 border-accent px-3 pb-1"
      >
        FAVORITAS
      </h2>
      <h2
        *ngIf="tab !== 'f'"
        role="tab"
        class="px-3 pb-1 hover:opacity-80 hover:cursor-pointer"
        (click)="changeTab('f')"
      >
        FAVORITAS
      </h2>
      <h2
        *ngIf="tab === 'l'"
        role="tab"
        class="border-b-3 border-accent px-3 pb-1"
      >
        LISTAS
      </h2>
      <h2
        *ngIf="tab !== 'l'"
        role="tab"
        class="px-3 pb-1 hover:opacity-80 hover:cursor-pointer"
        (click)="changeTab('l')"
      >
        LISTAS
      </h2>
    </nav>
    <div *ngIf="tab === 'w'" class="w-full">
      <div
        *ngIf="watched && watched.movies; else loadingSpinner"
        class="w-full flex flex-col gap-6"
      >
        <ul
          class="grid gap-3 grid-cols-[repeat(auto-fill,minmax(100px,1fr))] overflow-hidden"
        >
          <li *ngFor="let movie of watched.movies">
            <app-movie [movie]="movie"></app-movie>
          </li>
        </ul>
        <app-pagination
          [results]="watched"
          [goToPage]="goToPageWatched.bind(this)"
        ></app-pagination>
      </div>
    </div>
    <div *ngIf="tab === 'f'" class="w-full">
      <div
        *ngIf="favorites && favorites.movies; else loadingSpinner"
        class="w-full flex flex-col gap-6"
      >
        <ul
          class="grid gap-3 grid-cols-[repeat(auto-fill,minmax(100px,1fr))] overflow-hidden"
        >
          <li *ngFor="let movie of favorites.movies">
            <app-movie [movie]="movie"></app-movie>
          </li>
        </ul>
        <app-pagination
          [results]="favorites"
          [goToPage]="goToPageWatched.bind(this)"
        ></app-pagination>
      </div>
    </div>
    <div *ngIf="tab === 'l'" class="w-full">
      <div
        *ngIf="lists && lists.lists; else loadingSpinner"
        class="w-full flex flex-col items-center gap-6"
      >
        <ul
          class="grid gap-y-8 grid-cols-[repeat(auto-fill,minmax(336px,1fr))] overflow-hidden"
        >
          <li *ngFor="let list of lists.lists">
            <app-list [list]="list" [scale]="scale"></app-list>
          </li>
        </ul>
        <app-pagination
          [results]="lists"
          [goToPage]="goToPageLists.bind(this)"
        ></app-pagination>
      </div>
    </div>
  </section>
</main>

<dialog
  #followersDialogRef
  class="dialog"
  aria-label="Ventana modal para recomendar película a un amigo"
>
  <button
    (click)="closeFollowersDialog()"
    class="text-sm float-right hover"
    aria-label="Cerrar ventana modal"
  >
    <i class="fa-solid fa-xmark text-xl"></i>
  </button>
  <div *ngIf="followers.length" class="mt-6">
    <h3 class="text-lg font-semibold mb-4">Seguidores:</h3>
    <div
      class="max-h-50 overflow-y-auto scrollbar-thumb-rounded-full scrollbar-track-rounded-full scrollbar scrollbar-thumb-secondary scrollbar-track-primary-light"
    >
      <ul class="pr-2" *ngFor="let follower of followers; let last = last">
        <li>
          <a
            class="hover"
            routerLink="/user/profile/{{ follower.username }}"
            aria-label="Enviar recomendación de película"
            (click)="closeFollowersDialog()"
          >
            {{ follower.username }}
          </a>
          <hr *ngIf="!last" class="w-full border-accent border mb-2 mt-3" />
        </li>
      </ul>
    </div>
  </div>
</dialog>

<dialog
  #followedDialogRef
  class="dialog"
  aria-label="Ventana modal para recomendar película a un amigo"
>
  <button
    (click)="closeFollowedDialog()"
    class="text-sm float-right hover"
    aria-label="Cerrar ventana modal"
  >
    <i class="fa-solid fa-xmark text-xl"></i>
  </button>
  <div *ngIf="followed.length" class="mt-6">
    <h3 class="text-lg font-semibold mb-4">Siguiendo:</h3>
    <div
      class="max-h-50 overflow-y-auto scrollbar-thumb-rounded-full scrollbar-track-rounded-full scrollbar scrollbar-thumb-secondary scrollbar-track-primary-light"
    >
      <ul class="pr-2" *ngFor="let followed of followed; let last = last">
        <li>
          <a
            class="hover"
            routerLink="/user/profile/{{ followed.username }}"
            aria-label="Enviar recomendación de película"
            (click)="closeFollowedDialog()"
          >
            {{ followed.username }}
          </a>
          <hr *ngIf="!last" class="w-full border-accent border mb-2 mt-3" />
        </li>
      </ul>
    </div>
  </div>
</dialog>

<dialog
  #delAccountRef
  class="dialog"
  aria-label="Ventana modal para confirmar eliminación de cuenta"
>
  <button
    (click)="closeDelAccountDialog()"
    class="text-sm float-right hover"
    aria-label="Cerrar ventana modal"
  >
    <i class="fa-solid fa-xmark text-xl"></i>
  </button>
  <p class="my-5">
    ¿Estás seguro de que quieres eliminar esta cuenta? Esta acción es
    irreversible.
  </p>
  <div class="flex gap-4">
    <button class="secondary-btn" (click)="closeDelAccountDialog()">
      Cancelar
    </button>
    <button
      class="primary-btn"
      (click)="closeDelAccountDialog(); deleteAccount()"
    >
      Aceptar
    </button>
  </div>
</dialog>

<dialog
  #delSuccessRef
  class="dialog"
  aria-label="Ventana modal para informar de eliminación de cuenta existosa"
>
  <button
    (click)="closeDelSuccessDialog()"
    class="text-sm float-right hover"
    aria-label="Cerrar ventana modal"
  >
    <i class="fa-solid fa-xmark text-xl"></i>
  </button>
  <div class="flex items-center gap-3">
    <i class="fa-solid fa-circle-check text-green-400 text-2xl"></i>
    <p class="my-5">Cuenta eliminada correctamente.</p>
  </div>
  <div class="flex gap-4">
    <button class="primary-btn" (click)="closeDelSuccessDialog()">
      Aceptar
    </button>
  </div>
</dialog>

<dialog
  #delErrorRef
  class="dialog"
  aria-label="Ventana modal para informar de error en la eliminación de cuenta"
>
  <button
    (click)="closeDelErrorDialog()"
    class="text-sm float-right hover"
    aria-label="Cerrar ventana modal"
  >
    <i class="fa-solid fa-xmark text-xl"></i>
  </button>
  <div class="flex items-center gap-3">
    <i class="fa-solid fa-circle-xmark text-red-400 text-2xl"></i>
    <p class="my-5">
      Hubo un problema al eliminar la cuenta. Inténtalo de nuevo más tarde.
    </p>
  </div>
  <div class="flex gap-4">
    <button class="primary-btn" (click)="closeDelErrorDialog()">Aceptar</button>
  </div>
</dialog>
