<main class="w-full flex flex-col justify-center items-center">
  <h1 class="text-center text-5xl font-black text-white mt-6">
    FILM<span class="text-accent">O</span>
  </h1>
  <div class="form-card">
    <h2 id="form-title" class="text-2xl font-medium text-center">
      Crear cuenta
    </h2>
    <form
      class="flex flex-col gap-5"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      aria-labelledby="form-title"
    >
      <div class="w-full flex flex-col">
        <label for="email" class="sr-only">Email</label>
        <input
          id="email"
          class="form-control z-10"
          type="email"
          formControlName="email"
          placeholder="Email"
        />
        <div
          *ngIf="
            registerForm.get('email')?.touched &&
            registerForm.get('email')?.invalid
          "
        >
          <small *ngIf="registerForm.get('email')?.errors?.['required']"
            ><p
              class="bg-red-400 rounded-b-sm px-1 pt-1 pl-3 text-primary-light text-sm -mt-1"
              role="alert"
            >
              Correo requerido
            </p></small
          >
          <small *ngIf="registerForm.get('email')?.errors?.['email']"
            ><p
              class="bg-red-400 rounded-b-sm px-1 pt-1 pl-3 text-primary-light text-sm -mt-1"
              role="alert"
            >
              Formato inválido
            </p></small
          >
        </div>
      </div>

      <div class="w-full flex flex-col">
        <label for="username" class="sr-only">Nombre de usuario</label>
        <input
          id="username"
          class="form-control z-10"
          formControlName="username"
          placeholder="Nombre de usuario"
        />
        <div
          *ngIf="
            registerForm.get('username')?.touched &&
            registerForm.get('username')?.invalid
          "
        >
          <small *ngIf="registerForm.get('username')?.errors?.['required']">
            <p
              class="bg-red-400 rounded-b-sm px-1 pt-1 pl-3 text-primary-light text-sm -mt-1"
              role="alert"
            >
              Nombre de usuario requerido
            </p>
          </small>
          <small *ngIf="registerForm.get('username')?.errors?.['pattern']">
            <p
              class="bg-red-400 rounded-b-sm px-1 pt-1 pl-3 text-primary-light text-sm -mt-1"
              role="alert"
            >
              El nombre de usuario no puede contener espacios en blanco
            </p>
          </small>
          <small *ngIf="registerForm.get('username')?.errors?.['maxlength']"
            ><p
              class="bg-red-400 rounded-b-sm px-1 pt-1 pl-3 text-primary-light text-sm -mt-1"
              role="alert"
            >
              Máximo 20 caracteres
            </p></small
          >
        </div>
      </div>

      <div class="w-full flex flex-col">
        <label for="password" class="sr-only">Contraseña</label>
        <input
          id="password"
          class="form-control z-10"
          type="password"
          formControlName="password"
          placeholder="Contraseña"
        />
        <div
          *ngIf="
            registerForm.get('password')?.touched &&
            registerForm.get('password')?.invalid
          "
        >
          <small *ngIf="registerForm.get('password')?.errors?.['required']"
            ><p
              class="bg-red-400 rounded-b-sm px-1 pt-1 pl-3 text-primary-light text-sm -mt-1"
              role="alert"
            >
              Contraseña requerida
            </p>
          </small>
          <div class="flex flex-col">
            <small *ngIf="registerForm.get('password')?.errors?.['minlength']"
              ><p
                class="bg-red-400 rounded-b-sm px-1 pt-1 pl-3 text-primary-light text-sm -mt-1"
                role="alert"
              >
                Mínimo 8 caracteres.&nbsp;
              </p>
            </small>
            <small *ngIf="registerForm.get('password')?.errors?.['pattern']">
              <p
                class="bg-red-400 rounded-b-sm px-1 pt-1 pl-3 text-primary-light text-sm -mt-1"
                role="alert"
              >
                Debe contener al menos una mayúscula, una minúscula y un número
              </p>
            </small>
          </div>
        </div>
      </div>

      <div class="w-full flex flex-col">
        <label for="confirm" class="sr-only">Confirmar contraseña</label>
        <input
          id="confirm"
          class="form-control z-10"
          type="password"
          formControlName="confirm"
          placeholder="Confirmar contraseña"
        />
        <div
          *ngIf="
            registerForm.hasError('passwordMismatch') &&
            registerForm.get('confirm')?.touched
          "
        >
          <small
            ><p
              class="bg-red-400 rounded-b-sm px-1 pt-1 pl-3 text-primary-light text-sm -mt-1"
              role="alert"
            >
              Las contraseñas no coinciden.
            </p></small
          >
        </div>
      </div>

      <div class="w-full flex flex-col">
        <button class="primary-btn z-10" type="submit">REGISTRARSE</button>
        <div *ngIf="errorMessage">
          <p
            class="bg-red-400 rounded-b-sm px-1 pt-1 pl-3 text-primary-light text-sm -mt-1"
            role="alert"
          >
            {{ errorMessage }}
          </p>
        </div>
      </div>

      <div class="flex flex-col gap-4">
        <div class="flex items-center gap-2">
          <hr class="w-full" />
          <p>¿Ya&nbsp;tienes&nbsp;una&nbsp;cuenta?</p>
          <hr class="w-full" />
        </div>
        <a class="secondary-a" routerLink="/login">Iniciar sesión</a>
      </div>
    </form>
  </div>
</main>

<dialog
  #regSuccessRef
  class="dialog"
  aria-label="Ventana modal para informar de registro existoso"
>
  <button
    (click)="closeRegSuccessDialog()"
    class="text-sm float-right hover"
    aria-label="Cerrar ventana modal"
  >
    <i class="fa-solid fa-xmark text-xl"></i>
  </button>
  <div class="flex items-center gap-3">
    <i class="fa-solid fa-circle-check text-green-400 text-2xl"></i>
    <p class="my-5">Usuario registrado correctamente.</p>
  </div>
  <div class="flex gap-4">
    <button class="primary-btn" (click)="closeRegSuccessDialog()">
      Aceptar
    </button>
  </div>
</dialog>
