<div class="w-full flex flex-col justify-center items-center">
  <div
    class="w-full sm:w-[calc(100vw*5/6)] md:w-[calc(100vw*4/5)] lg:w-[calc(100vw*3/4)] xl:w-[calc(100vw*2/3)]"
  >
    <owl-carousel-o
      [options]="customOptions"
      aria-label="Carrusel de películas destacadas"
    >
      <ng-template carouselSlide *ngFor="let movie of featured">
        <a routerLink="/{{ movie.id }}">
          <figure class="relative w-fit">
            <picture
              style="
                mask-image: linear-gradient(
                    to top,
                    transparent,
                    black,
                    black,
                    transparent
                  ),
                  linear-gradient(
                    to left,
                    transparent,
                    black,
                    black,
                    transparent
                  );
                mask-composite: intersect;
                -webkit-mask-composite: destination-in;
              "
            >
              <source
                media="(min-width: 1280px)"
                srcset="{{ baseImageUrl + '/original' + movie.backdrop_path }}"
                type="image/jpeg"
              />

              <source
                media="(min-width: 780px)"
                srcset="{{ baseImageUrl + '/w1280' + movie.backdrop_path }}"
                type="image/jpeg"
              />

              <img
                src="{{ baseImageUrl + '/w780' + movie.backdrop_path }}"
                alt="Imagen promocional de {{ movie.title }}"
              />
            </picture>
            <figcaption
              class="absolute w-full text-center bottom-4 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-xl font-semibold sm:text-2xl lg:text-3xl xl:text-4xl"
            >
              {{ movie.title }}
            </figcaption>
          </figure></a
        >
      </ng-template>
    </owl-carousel-o>
  </div>

  <div *ngIf="isLoggedIn" class="flex flex-col gap-6 my-8">
    <h2 class="w-full text-left font-medium text-xl sm:text-2xl lg:text-3xl">
      Siguiendo
    </h2>
    <div class="flex gap-16">
      <div class="flex-2/3 flex flex-col gap-4">
        <div *ngIf="movieFollowingShowcase.movies.length > 0">
          <app-movie-showcase
            title="{{ movieFollowingShowcase.title }}"
            [movies]="movieFollowingShowcase.movies"
          ></app-movie-showcase>
        </div>
      </div>

      <div class="flex-1/3 flex flex-col gap-4">
        <div *ngIf="movieFollowingShowcase.movies.length > 0">
          <app-movie-showcase
            title="{{ movieFollowingShowcase.title }}"
            [movies]="movieFollowingShowcase.movies"
          ></app-movie-showcase>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-6 my-8">
    <h2 class="w-full text-left font-medium text-xl sm:text-2xl lg:text-3xl">
      Descubrir
    </h2>
    <div class="flex gap-16">
      <div class="flex-2/3 flex flex-col gap-4">
        <div *ngFor="let showcase of movieShowcases">
          <div *ngIf="showcase.movies.length > 0">
            <app-movie-showcase
              title="{{ showcase.title }}"
              [movies]="showcase.movies"
            ></app-movie-showcase>
          </div>
        </div>
      </div>

      <div class="flex-1/3 flex flex-col gap-4">
        <div *ngFor="let showcase of movieShowcases">
          <div *ngIf="showcase.movies.length > 0">
            <app-movie-showcase
              title="{{ showcase.title }}"
              [movies]="showcase.movies"
            ></app-movie-showcase>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
