<main class="w-full h-full" *ngIf="!movie">
  <div *ngIf="notFound">
    <app-not-found></app-not-found>
  </div>
  <div
    *ngIf="!notFound"
    class="w-full h-full flex justify-center items-center mt-[25%]"
  >
    <mat-spinner [diameter]="75"></mat-spinner>
  </div>
</main>

<main class="mb-8" *ngIf="movie">
  <div class="relative w-full mb-12">
    <picture
      *ngIf="movie.backdrop_path; else noBackdrop"
      class="w-full"
      style="
        mask-image: linear-gradient(
            to top,
            transparent,
            black,
            black,
            transparent
          ),
          linear-gradient(to left, transparent, black, black, transparent);
        mask-composite: intersect;
        -webkit-mask-composite: destination-in;
      "
    >
      <source
        media="(min-width: 1280px)"
        srcset="{{ baseImageUrl + '/original' + movie.backdrop_path }}"
        type="image/jpeg"
      />

      <source
        media="(min-width: 780px)"
        srcset="{{ baseImageUrl + '/w1280' + movie.backdrop_path }}"
        type="image/jpeg"
      />

      <img
        class="w-full max-h-80 object-cover"
        style="object-position: 50% 20%"
        src="{{ baseImageUrl + '/w780' + movie.backdrop_path }}"
        alt="Imagen promocional de {{ movie.title }}"
      />
    </picture>
    <ng-template #noBackdrop>
      <div
        class="w-full h-80 flex justify-center items-center bg-primary-light rounded-xs"
        style="
          mask-image: linear-gradient(
              to top,
              transparent,
              black,
              black,
              transparent
            ),
            linear-gradient(to left, transparent, black, black, transparent);
          mask-composite: intersect;
          -webkit-mask-composite: destination-in;
        "
      >
        <i class="fa-solid fa-image text-8xl text-secondary"></i>
      </div>
    </ng-template>

    <div class="absolute -bottom-10 left-0 w-full">
      <div class="w-full flex items-end gap-4">
        <div class="w-min">
          <img
            *ngIf="movie.poster_path !== null; else noPoster"
            class="w-1/5 min-w-[100px] rounded-xs border-1 border-gray-400"
            src="{{ baseImageUrl + '/w500' + movie.poster_path }}"
            alt="Póster de {{ movie.title }}"
          />
          <ng-template #noPoster>
            <div
              class="w-1/5 min-w-[100px] flex justify-center items-center bg-primary-light rounded-xs border-1 border-gray-400"
              style="aspect-ratio: 2 / 3"
            >
              <i class="fa-solid fa-image text-3xl text-secondary"></i>
            </div>
          </ng-template>
          <div class="w-1/5 min-w-[100px] flex justify-center gap-4">
            <div class="flex gap-2" *ngIf="isLoggedIn; else notLogged">
              <button
                class="hover:cursor-pointer hover:opacity-70"
                *ngIf="!isInFavourites"
                type="button"
                (click)="addToFavourites()"
                aria-label="Añadir película a favoritos"
              >
                <i class="fa-regular fa-heart"></i>
              </button>
              <button
                class="hover:cursor-pointer hover:opacity-70"
                *ngIf="isInFavourites"
                type="button"
                (click)="removeFromFavourites()"
                aria-label="Quitar película de favoritos"
              >
                <i class="fa-solid fa-heart"></i>
              </button>
              <p>{{ favourites }}</p>
              <button
                class="hover:cursor-pointer hover:opacity-70"
                *ngIf="!isInWatched"
                type="button"
                (click)="addToWatched()"
                aria-label="Marcar película como vista"
              >
                <i class="fa-regular fa-eye"></i>
              </button>
              <button
                class="hover:cursor-pointer hover:opacity-70"
                *ngIf="isInWatched"
                type="button"
                (click)="removeFromWatched()"
                aria-label="Quitar película de vistas"
              >
                <i class="fa-solid fa-eye"></i>
              </button>
              <p>{{ watched }}</p>
            </div>
            <ng-template #notLogged>
              <div class="flex gap-2 items-center">
                <i class="fa-regular fa-heart"></i>
                <p>{{ favourites }}</p>
                <i class="fa-regular fa-eye"></i>
                <p>{{ watched }}</p>
              </div>
            </ng-template>
          </div>
        </div>

        <div>
          <div class="flex gap-4 mb-5">
            <h1
              class="text-3xl md:text-4xl"
              style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7)"
            >
              {{ movie.title }}
            </h1>

            <div class="hidden lg:flex lg:items-end lg:gap-4">
              <div class="flex gap-4">
                <p class="text-xl">
                  FILMO:&nbsp;<span class="font-bold">{{
                    rating | number : "1.0-1"
                  }}</span
                  ><span class="text-base">/5</span>
                </p>

                <button
                  class="text-xl"
                  [ngClass]="friendsReviews.length > 0 ? 'hover' : null"
                  *ngIf="isLoggedIn"
                  (click)="openDialog('friends')"
                  [disabled]="friendsReviews.length === 0"
                  aria-label="Mostrar puntuaciones de tus amigos"
                >
                  Amigos:&nbsp;<span class="font-bold">{{
                    friendsRating | number : "1.0-1"
                  }}</span
                  ><span class="text-base">/5</span>
                </button>
              </div>
              <div class="flex gap-2">
                <button
                  class="w-8 h-8 bg-accent rounded hover"
                  (click)="
                    isLoggedIn
                      ? openAddListDialog()
                      : router.navigate(['/login'])
                  "
                  aria-label="Añadir película a lista personalizada"
                >
                  <i class="fa-solid fa-plus text-primary"></i>
                </button>

                <button
                  class="w-8 h-8 bg-accent rounded hover"
                  (click)="
                    isLoggedIn ? openDialog('rec') : router.navigate(['/login'])
                  "
                  aria-label="Recomendar película a amigos"
                >
                  <i class="fa-solid fa-share text-primary"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-4 mt-8">
    <div class="flex gap-4 lg:hidden mt-2">
      <div class="flex gap-4">
        <p class="text-xl">
          FILMO:&nbsp;<span class="font-bold">{{
            rating | number : "1.0-1"
          }}</span
          ><span class="text-base">/5</span>
        </p>

        <button
          class="text-xl hover:cursor-pointer"
          *ngIf="isLoggedIn"
          (click)="openDialog('friends')"
          [disabled]="friendsReviews.length === 0"
          aria-label="Mostrar puntuaciones de tus amigos"
        >
          Amigos:&nbsp;<span class="font-bold">{{
            friendsRating | number : "1.0-1"
          }}</span
          ><span class="text-base">/5</span>
        </button>
      </div>
      <div class="flex gap-2">
        <button
          class="w-8 h-8 bg-accent rounded hover"
          (click)="
            isLoggedIn ? openAddListDialog() : router.navigate(['/login'])
          "
          aria-label="Añadir película a lista personalizada"
        >
          <i class="fa-solid fa-plus text-primary"></i>
        </button>

        <button
          class="w-8 h-8 bg-accent rounded hover"
          (click)="isLoggedIn ? openDialog('rec') : router.navigate(['/login'])"
          aria-label="Recomendar película a amigos"
        >
          <i class="fa-solid fa-share text-primary"></i>
        </button>
      </div>
    </div>

    <section class="flex gap-4">
      <div class="flex flex-wrap gap-x-2">
        <div *ngIf="movie.release_date" class="flex gap-2">
          <p class="font-bold text-secondary">FECHA DE ESTRENO:</p>
          <p>{{ movie.release_date }}</p>
        </div>
        <div *ngIf="movie.runtime" class="flex gap-2">
          <p class="font-bold text-secondary">DURACIÓN:</p>
          <p>{{ movie.runtime | duration }}</p>
        </div>
        <div *ngIf="movie.origin_country" class="flex gap-2">
          <p class="font-bold text-secondary">PAÍS:</p>
          <p>{{ movie.origin_country }}</p>
        </div>
        <div *ngIf="movie.original_language" class="flex gap-2">
          <p class="font-bold text-secondary">IDIOMA ORIGINAL:</p>
          <p>{{ movie.original_language }}</p>
        </div>
        <div *ngIf="movie.budget" class="flex gap-2">
          <p class="font-bold text-secondary">PRESUPUESTO:</p>
          <p>{{ movie.budget | moneyShort }}</p>
        </div>
        <div *ngIf="movie.revenue" class="flex gap-2">
          <p class="font-bold text-secondary">RECAUDACIÓN:</p>
          <p>{{ movie.revenue | moneyShort }}</p>
        </div>
        <div *ngIf="movie.genres.length > 0" class="flex flex-wrap gap-2">
          <p class="font-bold text-secondary">GÉNEROS:</p>
          <div *ngFor="let genre of movie.genres; let last = last">
            <p>{{ genre.name }}<span *ngIf="!last">,</span></p>
          </div>
        </div>
      </div>
    </section>

    <p *ngIf="movie.tagline" class="italic">{{ movie.tagline }}</p>
    <p>{{ movie.overview }}</p>

    <section class="my-6">
      <div class="w-full flex justify-between">
        <div class="w-full flex flex-col gap-4 mb-4">
          <div class="w-full flex justify-between items-end">
            <h3 class="text-lg font-semibold h-min">Reseñas</h3>
            <div *ngIf="isLoggedIn && !isReviewed && !showReviewForm">
              <button class="primary-btn" (click)="toggleReviewForm()">
                Añadir reseña
              </button>
            </div>
          </div>
          <hr class="w-full border-accent border-2" />
        </div>
      </div>
      <div *ngIf="showReviewForm" class="mt-4">
        <form
          [formGroup]="reviewForm"
          (ngSubmit)="submitReview()"
          class="space-y-4 p-4 border-2 rounded-lg shadow my-4"
        >
          <div class="relative">
            <button
              class="absolute top-0 right-1 hover"
              type="button"
              (click)="toggleReviewForm()"
              aria-label="Cerrar formulario de creación de reseña"
            >
              <i class="fa-solid fa-xmark text-xl"></i>
            </button>
            <p class="font-medium mb-1">Puntuación:</p>
            <div class="flex flex-row-reverse justify-end gap-1">
              <ng-container *ngFor="let star of stars">
                <input
                  type="radio"
                  class="hidden"
                  [id]="'star' + star"
                  [value]="star"
                  formControlName="rating"
                />
                <label
                  [for]="'star' + star"
                  class="cursor-pointer text-2xl"
                  [class.text-yellow-400]="reviewForm.value.rating >= star"
                  [class.text-gray-400]="reviewForm.value.rating < star"
                >
                  ★
                </label>
              </ng-container>
            </div>
            <p class="text-sm mt-1">
              Seleccionado: {{ reviewForm.value.rating }}
            </p>
          </div>
          <div>
            <p class="font-medium mb-3">Reseña:</p>
            <textarea
              formControlName="review"
              rows="4"
              placeholder="Escribe tu reseña..."
              class="w-full p-2 border border-gray-300 rounded"
            ></textarea>
          </div>

          <div class="w-full flex justify-end">
            <button
              type="submit"
              [disabled]="reviewForm.invalid"
              class="primary-btn !w-30"
            >
              Enviar reseña
            </button>
          </div>
        </form>
      </div>
      <p *ngIf="reviews.length === 0">
        ¡Haz la primera reseña de esta película!
      </p>
      <div *ngFor="let review of reviews; let last = last">
        <app-review
          [review]="review"
          [onDelete]="openDelReviewDialog.bind(this)"
        ></app-review>
        <hr *ngIf="!last" class="w-full border-accent border my-4" />
      </div>
    </section>
  </div>
</main>

<dialog
  #friendsDialogRef
  class="dialog"
  aria-label="Ventana modal para ver puntuaciones de tus amigos"
>
  <button
    (click)="closeDialog('friends')"
    class="text-sm float-right hover"
    aria-label="Cerrar ventana modal"
  >
    <i class="fa-solid fa-xmark text-xl"></i>
  </button>

  <div *ngIf="friendsReviews.length" class="mt-6">
    <h3 class="text-lg font-semibold mb-4">Puntuaciones de tus amigos:</h3>
    <div
      class="max-h-50 overflow-y-auto scrollbar-thumb-rounded-full scrollbar-track-rounded-full scrollbar scrollbar-thumb-secondary scrollbar-track-primary-light"
    >
      <ul class="pr-2" *ngFor="let review of friendsReviews; let last = last">
        <li>
          <div class="w-full flex justify-between">
            <a class="hover" routerLink="/user/profile/{{ review.username }}">{{
              review.username
            }}</a>

            <p class="text-lg font-medium text-accent">
              {{ review.rating }}<span class="text-sm text-white">/5</span>
            </p>
          </div>

          <hr *ngIf="!last" class="w-full border-accent border mb-2 mt-3" />
        </li>
      </ul>
    </div>
  </div>
</dialog>

<dialog
  #listDialogRef
  class="dialog"
  aria-label="Ventana modal para añadir película a una lista"
>
  <button
    (click)="closeDialog('list'); showNewListForm = false"
    class="text-sm float-right hover"
    aria-label="Cerrar ventana modal"
  >
    <i class="fa-solid fa-xmark text-xl"></i>
  </button>

  <div class="w-full flex justify-center">
    <button
      *ngIf="!showNewListForm"
      (click)="showNewListForm = !showNewListForm"
      class="primary-btn !w-40"
    >
      Crear nueva lista
    </button>
  </div>

  <form
    *ngIf="showNewListForm"
    (ngSubmit)="createList()"
    class="flex flex-col gap-3 mt-4"
  >
    <input
      [(ngModel)]="newList.title"
      name="title"
      required
      placeholder="Título"
      class="p-2 border rounded"
    />
    <textarea
      [(ngModel)]="newList.description"
      name="description"
      placeholder="Descripción (opcional)"
      class="p-2 border rounded"
    ></textarea>
    <div class="flex gap-4">
      <button
        (click)="showNewListForm = !showNewListForm"
        class="secondary-btn"
      >
        Cancelar</button
      ><button type="submit" class="primary-btn">Guardar</button>
    </div>
  </form>

  <div *ngIf="userLists.length" class="mt-6">
    <h3 class="text-lg font-semibold mb-2">Tus listas:</h3>
    <div
      class="max-h-50 overflow-y-auto scrollbar-thumb-rounded-full scrollbar-track-rounded-full scrollbar scrollbar-thumb-secondary scrollbar-track-primary-light"
    >
      <ul class="pr-2">
        <li *ngFor="let list of userLists; let last = last">
          <button
            class="hover"
            type="button"
            *ngIf="list.has_movie"
            (click)="removeFromList(list.id)"
            aria-label="Quitar película de la lista"
          >
            <i class="fa-solid fa-circle-check text-accent"></i>
            {{ list.title }}
          </button>
          <button
            class="hover"
            type="button"
            *ngIf="!list.has_movie"
            (click)="addToList(list.id)"
            aria-label="Añadir película a la lista"
          >
            <i class="fa-regular fa-circle"></i>
            {{ list.title }}
          </button>

          <hr *ngIf="!last" class="w-full border-accent border mb-2 mt-3" />
        </li>
      </ul>
    </div>
  </div>
</dialog>

<dialog
  #recDialogRef
  class="dialog"
  aria-label="Ventana modal para recomendar película a un amigo"
>
  <button
    (click)="closeDialog('rec')"
    class="text-sm float-right hover"
    aria-label="Cerrar ventana modal"
  >
    <i class="fa-solid fa-xmark text-xl"></i>
  </button>
  <p *ngIf="friends.length < 1">
    Añade amigos para poder hacerles recomendaciones!
  </p>
  <div *ngIf="friends.length" class="mt-6">
    <h3 class="text-lg font-semibold mb-4">Amigos:</h3>
    <div
      class="max-h-50 overflow-y-auto scrollbar-thumb-rounded-full scrollbar-track-rounded-full scrollbar scrollbar-thumb-secondary scrollbar-track-primary-light"
    >
      <ul class="pr-2" *ngFor="let friend of friends; let last = last">
        <li>
          <button
            class="hover:cursor-pointer"
            (click)="recommendMovie(friend.id); closeDialog('rec')"
            aria-label="Enviar recomendación de película"
          >
            {{ friend.username }}
          </button>
          <hr *ngIf="!last" class="w-full border-accent border mb-2 mt-3" />
        </li>
      </ul>
    </div>
  </div>
</dialog>

<dialog
  #delReviewRef
  class="dialog"
  aria-label="Ventana modal para confirmar eliminación de reseña"
>
  <button
    (click)="closeDialog('delReview')"
    class="text-sm float-right hover"
    aria-label="Cerrar ventana modal"
  >
    <i class="fa-solid fa-xmark text-xl"></i>
  </button>
  <p class="my-5">
    ¿Estás seguro de que quieres eliminar esta reseña? Esta acción es
    irreversible.
  </p>
  <div class="flex gap-4">
    <button class="secondary-btn" (click)="closeDialog('delReview')">
      Cancelar
    </button>
    <button
      class="primary-btn"
      (click)="closeDialog('delReview'); deleteReview()"
    >
      Aceptar
    </button>
  </div>
</dialog>

<dialog
  #listCreatedRef
  class="dialog"
  aria-label="Ventana modal para informar de creación exitosa de lista"
>
  <button
    (click)="closeDialog('listCreated')"
    class="text-sm float-right hover"
    aria-label="Cerrar ventana modal"
  >
    <i class="fa-solid fa-xmark text-xl"></i>
  </button>
  <div class="flex items-center gap-3">
    <i class="fa-solid fa-circle-check text-green-400 text-2xl"></i>
    <p class="my-5">Lista creada correctamente.</p>
  </div>
  <div class="flex gap-4">
    <button class="primary-btn" (click)="closeDialog('listCreated')">
      Aceptar
    </button>
  </div>
</dialog>

<dialog
  #listErrorRef
  class="dialog"
  aria-label="Ventana modal para informar de error en la creación de lista"
>
  <button
    (click)="closeDialog('listError')"
    class="text-sm float-right hover"
    aria-label="Cerrar ventana modal"
  >
    <i class="fa-solid fa-xmark text-xl"></i>
  </button>
  <div class="flex items-center gap-3">
    <i class="fa-solid fa-circle-xmark text-red-400 text-2xl"></i>
    <p class="my-5">Error al crear la lista. Inténtelo de nuevo más tarde.</p>
  </div>
  <div class="flex gap-4">
    <button class="primary-btn" (click)="closeDialog('listError')">
      Aceptar
    </button>
  </div>
</dialog>
